fastapi==0.115.0
uvicorn[standard]==0.30.6
motor==3.6.0
pydantic==2.9.2
pydantic-settings==2.5.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
boto3==1.35.29
redis==5.1.1
rq==1.16.2
openpyxl==3.1.5
weasyprint==62.3
pymongo==4.9.1

Pillow==10.4.0
